@page "/BudgetItemtable/{MWOId:guid}"

<RadzenStack Orientation="Orientation.Vertical">

    <div>
        Items for MWO : @MWOName
    </div>


    <RadzenStack Orientation="Orientation.Horizontal">
        <RadzenButton ButtonStyle="ButtonStyle.Primary" class="mt-2 mb-4" Text="Add New" Click="@AddNewBudgetItem" />
        <RadzenButton ButtonStyle="ButtonStyle.Primary" class="mt-2 mb-4" Text="Edit" Click="@(()=>Edit(selectedRow))" Disabled=@(selectedRow==null) />
        <RadzenButton ButtonStyle="ButtonStyle.Primary" class="mt-2 mb-4" Text="Delete" Click="@(()=>Delete(selectedRow))" Disabled=@(selectedRow==null) />
    </RadzenStack>



    <RadzenDataGrid @ref="grid" AllowFiltering="true" AllowColumnResize="true" AllowAlternatingRows="false" FilterMode="FilterMode.Advanced"
                    AllowGrouping="true" AllowSorting="true" PageSize="50" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left"
                    Density="Density.Default" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterPopupRenderMode="PopupRenderMode.OnDemand" SelectionMode="DataGridSelectionMode.Single" @bind-Value=@selectedBudgetItems RowClick=OnRowClick
                    Data="@FilteredItems" TItem="BudgetItemResponse" ColumnWidth="300px" LogicalFilterOperator="LogicalFilterOperator.Or" ShowPagingSummary="true">
        <Columns>
            <RadzenDataGridColumn TItem="BudgetItemResponse" Property="@nameof(BudgetItemResponse.Nomenclatore)"  Filterable="false" Title="ID" Frozen="false" Width="50px"
                                  TextAlign="TextAlign.Left" Groupable=false />
            <RadzenDataGridColumn TItem="BudgetItemResponse" Property="@nameof(BudgetItemResponse.Type)" Filterable="true" Title="Type" Frozen="false" Width="100px"
                                  TextAlign="TextAlign.Left" Groupable=true />
            <RadzenDataGridColumn TItem="BudgetItemResponse" Property="@nameof(BudgetItemResponse.Name)" Filterable="false" Title="Name" Frozen="false" Width="100px"
                                  TextAlign="TextAlign.Left" Groupable=false />
            
            <RadzenDataGridColumn TItem="BudgetItemResponse" Property="@nameof(BudgetItemResponse.Budget)" Filterable="false" Title="Budget, USD" Frozen="false" Width="100px"
                                  TextAlign="TextAlign.Left" Groupable=false />
            @if (CurrentUser.IsSuperAdmin)
            {
                <RadzenDataGridColumn TItem="BudgetItemResponse" Property="@nameof(BudgetItemResponse.CreatedBy)" Filterable="false" Title="Created By" Frozen="false" Width="100px"
                                      TextAlign="TextAlign.Left" Groupable=false />
                <RadzenDataGridColumn TItem="BudgetItemResponse" Property="@nameof(BudgetItemResponse.CreatedOn)" Filterable="false" Title="Created On" Frozen="false" Width="100px"
                                      TextAlign="TextAlign.Left" Groupable=false />

            }


        </Columns>
    </RadzenDataGrid>
</RadzenStack>
@code {

}
