@page "/UpdateBrand/{Id:guid}"

<PageTitle>Update @BrandName</PageTitle>Brand
  
<RadzenStack Orientation="Orientation.Vertical">
    <div>Update Brand @BrandName</div>
    <RadzenRow>
        <RadzenColumn SizeXS="8" SizeSM="4">
            <RadzenStack Orientation="Orientation.Vertical">
                <RadzenTemplateForm TItem="UpdateBrandRequest" Data="@Model">
                   

                    <RadzenFormField Text="Name" Style="width: 100%;">
                        <RadzenTextBox @bind-Value=@Model.Name AutoComplete class="w-100"
                                        Change=ChangeName Name="name" />

                     </RadzenFormField>
                    
                 </RadzenTemplateForm>
             </RadzenStack>
         </RadzenColumn>

     </RadzenRow>
     <RadzenRow>
         <RadzenStack Orientation="Orientation.Horizontal">
             <RadzenButton ButtonStyle=ButtonStyle.Primary ButtonType=ButtonType.Submit Click="SaveAsync">Save</RadzenButton>
             <RadzenButton ButtonStyle=ButtonStyle.Primary Variant="Variant.Outlined" Click="CancelAsync">Cancel</RadzenButton>
         </RadzenStack>

     </RadzenRow>
 </RadzenStack>

 @code {
    void ChangeName(string name)
    {
        Model.Name = name;


    }
    void NotifyMessage(NotificationSeverity Severity, string Leyend, List<string> messages)
    {
        AlertStyle alertStyle = Severity == NotificationSeverity.Success ? AlertStyle.Success : AlertStyle.Danger;

        NotificationService.Notify(new NotificationMessage
            {
                Severity = Severity,
                SummaryContent = ns =>@<RadzenText TextStyle="TextStyle.H6">@Leyend</RadzenText>,
            DetailContent = ns =>@<SimpleAlertMessage AlertStyle="@alertStyle" Messages=@messages></SimpleAlertMessage>,


            Duration = Severity == NotificationSeverity.Success ? 2000 : 4000,
        });

    }
}

