@inherits LayoutComponentBase

<RadzenLayout Style="width:100%">
    <RadzenHeader>

        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent=JustifyContent.SpaceBetween>
            <div>
                <AuthorizeView Roles="Administrator">
                    <Authorized>
                        <RadzenButton Icon="store" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Medium" Click="@(()=>GoToBrands())"
                                      MouseEnter="@(args => ShowTooltip(args,$"Go to Brands") )" />
                        <RadzenButton Icon="support" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Medium" Click="@(()=>GoToSupplier())"
                                      MouseEnter="@(args => ShowTooltip(args,$"Go to Suppliers") )" />
                        <RadzenButton Icon="support" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Medium" Click="@(()=>GoToUsers())"
                                      MouseEnter="@(args => ShowTooltip(args,$"Go to Users") )" />
                    </Authorized>
                </AuthorizeView>
                <AuthorizeView >
                    <Authorized>
                        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" JustifyContent=JustifyContent.Start class="m-2 ms-lg-5">
                            <RadzenButton Icon="home" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Medium" Click="@(()=>GoToHome())"
                                          MouseEnter="@(args => ShowTooltip(args,$"Go to Home Page") )" />
                            
                            <RadzenButton Icon="article" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Medium" Click="@(()=>GoToMWOs())"
                                          MouseEnter="@(args => ShowTooltip(args,$"Go to MWOs") )" />
                            <RadzenButton Icon="shopping_cart" ButtonStyle="ButtonStyle.Info" Size="ButtonSize.Medium" Click="@(()=>GoToPurchaseorders())"
                                          MouseEnter="@(args => ShowTooltip(args,$"Go to Purchase Orders") )" />
                        </RadzenStack>

                    </Authorized>
                </AuthorizeView>
            </div>
            <div class="m-2">
                <AuthLinks />
            </div>
        </RadzenStack>
    </RadzenHeader>

    <RadzenBody>
        <div class="rz-p-1">
            @Body
        </div>
    </RadzenBody>
    <RadzenFooter>

    </RadzenFooter>
</RadzenLayout>

<RadzenComponents />
@code {
    bool sidebar1Expanded = true;
    void ShowTooltip(ElementReference elementReference, string text) =>
       TooltipService.Open(elementReference, text, new TooltipOptions() { Position = TooltipPosition.Bottom });
    private void GoToHome()
    {
        _NavigationManager.NavigateTo("/");
    }
    private void GoToBrands()
    {
        _NavigationManager.NavigateTo($"/{PageName.Brand.Main}");
    }
    private void GoToSupplier()
    {
        _NavigationManager.NavigateTo($"/{PageName.Supplier.Main}");
    }
    private void GoToUsers()
    {
        _NavigationManager.NavigateTo("/UserDataList");
    }
    private void GoToMWOs()
    {
        _NavigationManager.NavigateTo("/MWODataMain");
    }
    private void GoToPurchaseorders()
    {
        _NavigationManager.NavigateTo("/PurchaseOrdersDataList");
    }
    protected override Task OnParametersSetAsync()
    {

        return base.OnParametersSetAsync();
    }
}